

/* USER PORTAL */

/* Login */

#leandroarts_login_form{

}

#leandroarts_login_form label{
    color: #5b5b5b;
    text-transform: uppercase;
    font: 700 1.0em/1.33em "filson-pro", Helvetica, Arial, sans-serif;
    letter-spacing: .05em;
    margin: 2% 0;
    width: 100%;
    clear: both;    
}

#leandroarts_login_form input{
    padding: 1% 2%;
    width: 80%;
    font-weight: bold;
    font-size: 1.25em;
    color: #2e6091;
    clear: both;
}

#leandroarts_login_form input#wp-submit{
    background: #316094;
    color: #fff;
    clear: both;
    margin: 20px auto;
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
    padding: 0.5em 2em;
    font-size: 1em;
    width: auto;
}


#leandroarts_login_form .login-remember{
    display: none;
}


/* EVENTS  */

#events_list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column: auto;
    grid-row: auto;
    grid-gap: 2.5%;
    clear: both;
}

@media(max-width: 1400px){
    #events_list{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 1000px){
    #events_list{
        grid-template-columns: 1fr;
        text-align: center;
    }
}

#events_list img{
    margin: 0 auto 15px;
    max-width: 100%;
    height: auto;
}


/* PROFILES  */

.profiles_list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column: auto;
    grid-row: auto;
    grid-gap: 2.5%;
    clear: both;
}

@media(max-width: 1400px){
    .profiles_list{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 1000px){
    .profiles_list{
        grid-template-columns: 1fr;
        text-align: center;
    }
}

.profiles_list img{
    margin: 0 auto 15px;
    max-width: 100%;
    height: auto;
}


/* SINGLE POST (Events + Profiles) */

/* layout */

#event{
    position: relative;
    overflow: hidden;
} 

#event #event_meta{
    float: left;
    clear: right;
    width: 50%;
    margin: 0 2% 2% 0;
}

#event #featured_image{
    float: left;
    clear: right;
    width: 48%;
    margin: 0 0 2% 0;
}

#event_CMS{
    clear: both;
}

#event_CMS ul{
    color: #5b5b5b;
    font: 400 1.8em/1.778em "bookmania", Helvetica, Arial, sans-serif;    
}

/* responsive layout */
@media(max-width: 1000px){
    #event #event_meta{
        float: none;
        clear: both;
        width: 100%;
        margin: 0 2% 0 0;
    }
    
    #event #featured_image{
        float: none;
        clear: both;
        width: 100%;
        margin: 0 0 2% 0;
    }    
}




#event #featured_image img{
    max-width: 100%;
    height: auto;
}

#profile #featured_image img{
    max-width: 100%;
    height: auto;
}



/* Event Video */
#event_video {
    position: relative;
    width: 70%;
    margin: 0px auto 12%;
    overflow: hidden;
    text-align: center;
    /* Responsive iFrame Hack */
    padding-bottom: 35%;
    padding-top: 25px;
    height: 0;
}

/* Responsive iFrame Hack */
#event_video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media(max-width: 800px) {
    #event_video {
        width: 90%;
    }
}

#event_video iframe {
    max-width: 100%;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}


/* Datepicker */
.ui-datepicker{
    width: auto;
    background: #fff;
    font-size: 12px;
}

@media(max-width: 800px){
    .ui-datepicker{
        width: auto;
        background: rgb(212, 197, 240);
        font-size: 0.8em;
    }    
}